<div class="container-friends">
    {{#if friends}}
    <h1 class="middle">These are your friends</h1>
    {{#each friends}}
    <div class="container-friends-item">
        <div class="user-profilePhoto">
            <img src="../static{{this.userInfo.fileLink}}" alt="">
        </div>
        <div class="user-info">
            <p class="user-name">{{toTitleCase this.username}}</p>
            <p class="user-nationality">{{toTitleCase this.userInfo.nationality}} </p>
            <p class="language-fluent">Fluent languages: {{this.languageFluent}}</p>
            <div class="user-actions">
                <button onclick="removeFriend('{{../userName}}','{{this.username}}')" class="btn btn-primary px-4"
                    value="RemoveFriend">Remove Friend</button>
                <button onclick="viewProfile('{{this.username}}')" class="btn btn-primary px-4"
                    value="viewFriend">See Friend Profile</button>
                <button onclick="blockContact('{{../userName}}','{{this.username}}')" class="btn btn-primary px-4"
                    value="BlockFriend">Block</button>
                <button class="btn btn-primary px-4" onclick="sendMessage('{{this.username}}')">Send Message</button>
            </div>
        </div>

    </div>
    {{/each}}
    {{else}}
    <h1 class="middle">You have no friends</h1>
    {{/if}}
</div>
{{#if contacts}}
<h1 class="middle">Possible Contacts</h1>

{{#each contacts}}

<div class="container-friends-item">
    <div class="user-profilePhoto">
        <img src="../static{{this.userInfo.fileLink}}" alt="">
    </div>
    <div class="user-info">
        <p class="user-name">{{toTitleCase this.username}}</p>
        <p class="user-nationality">{{toTitleCase this.userInfo.nationality}} </p>
        <p class="language-fluent">Fluent languages: {{this.languageFluent}}</p>
        <div class="user-actions">
            <button onclick="addFriend('{{../userName}}','{{this.username}}')" class="btn btn-primary px-4"
                value="Add">Add
                Friend</button>
            <button onclick="blockContact('{{../userName}}','{{this.username}}')" class="btn btn-primary px-4"
                value="BlockFriend">Block</button>
        </div>
    </div>

</div>
{{/each}}
{{else}}
<h1 class="middle">No more possible contacts</h1>
{{/if}}


 {{#if blockedContacts}}
    <h1 class="middle">These are your blocked contacts in case you change your mind (let it go as elsa would say)</h1>
    {{#each blockedContacts}}
    <div class="container-friends-item">
        <div class="user-profilePhoto">
            <img src="../static{{this.userInfo.fileLink}}" alt="">
        </div>
        <div class="user-info">
            <p class="user-name">{{toTitleCase this.username}}</p>
            <p class="user-nationality">{{toTitleCase this.userInfo.nationality}} </p>
            <p class="language-fluent">Fluent languages: {{this.languageFluent}}</p>
            <div class="user-actions">
                <button onclick="unblockUser('{{../userName}}','{{this.username}}')" class="btn btn-primary px-4"
                    value="unblockUser">Unblock Contact</button>
                
            </div>
        </div>

    </div>
    {{/each}}
    {{else}}
    <h1 class="middle">You have no blocked contacts! </h1>
    {{/if}}


<script>
/**
 * Sends an HTTP request with the specified method, URL, and data.
 *
 * @async
 * @param {string} url - The endpoint to send the request to.
 * @param {string} method - The HTTP method (e.g., "GET", "POST").
 * @param {Object} data - The payload to send with the request.
 * @returns {Promise<Response>} The fetch response object.
 * @throws {Error} If the request fails.
 */
    async function makeRequest(url, method, data) {
        const header = new Headers();
        header.append("Content-Type", "application/json");

        const request = new Request(url, {
            method: method,
            body: JSON.stringify(data),
            headers: header
        })
        const response = await fetch(request)
        return await response;
    }

/**
 * Sends a message to the visited user.
 *
 * @async
 * @param {string} visitedUser - The username of the user being messaged.
 * @returns {Promise<void>} Redirects to the message page on success.
 * @throws {Error} If the request fails.
 */
    async function sendMessage(visitedUser){
        const url = "/message/api/user";

        try{
            await makeRequest(url,"POST",{visitedUser:visitedUser});
            window.location.href = "/message"
        }
        catch(error){
            console.log("URL not found")
        }
    }

/**
 * Sends a request to add a friend for the specified user.
 *
 * @async
 * @param {string} username - The username of the current user.
 * @param {string} friendAccount - The username of the account to add.
 * @returns {Promise<void>} Reloads the page on success.
 */
    async function addFriend(username, friendAccount) {
        const response=await fetch(`/contacts/api/addFriend/${username}/${friendAccount}`)
        if(response.status===200){
        console.log('refresh page and new person should appear.')
        window.location.reload()
        }else{
            console.log('request failed.')
        }

    }

/**
 * Sends a request to remove a friend for the specified user.
 *
 * @async
 * @param {string} username - The username of the current user.
 * @param {string} targetAccount - The username of the friend to remove.
 * @returns {Promise<void>} Reloads the page on success.
 */
    async function removeFriend(username, targetAccount) {
        const response=await fetch(`/contacts/api/removeFriend/${username}/${targetAccount}`)
        if(response.status === 200){
        console.log('refresh page and new person should appear.')
        window.location.reload(); // Refresh the entire page
        }else{
            console.log('request failed.')
        }

    }

/**
 * Sends a request to block a contact for the specified user.
 *
 * @async
 * @param {string} username - The username of the current user.
 * @param {string} targetAccount - The username of the contact to block.
 * @returns {Promise<void>} Reloads the page on success.
 */
    async function blockContact(username, targetAccount) {
        const response=await fetch(`/contacts/api/blockContact/${username}/${targetAccount}`)
        if(response.status === 200){
        console.log('refresh page ,acc should be blocked')
        window.location.reload(); // Refresh the entire page
        }else{
            console.log('request failed.')
        }
    }

/**
 * Sends a request to unblock a contact for the specified user.
 *
 * @async
 * @param {string} username - The username of the current user.
 * @param {string} targetAccount - The username of the contact to unblock.
 * @returns {Promise<void>} Reloads the page on success.
 */
    async function unblockUser(username, targetAccount) {
        const response=await fetch(`/contacts/api/unblockContact/${username}/${targetAccount}`)
        if(response.status === 200){
        console.log('refresh page ,acc should be in possible unblocked')
        window.location.reload(); // Refresh the entire page
        }else{
            console.log('request failed.')
        }
    }

/**
 * Redirects to the visited user's profile page.
 *
 * @async
 * @param {string} visitedUser - The username of the profile to view.
 * @returns {Promise<void>} Redirects to the profile page on success.
 * @throws {Error} If the request fails.
 */
    async function viewProfile(visitedUser) {
        //put api call here that renders the profile for the friend from the pov of user,it can be simple just render the same screen for profile.
        const url = "/profile/api/user"
        
        try{
            await makeRequest(url,"POST",{visitedUser:visitedUser});
            window.location.href = "/profile/visitedUser"
        }
        catch(error){
            console.log("URL not found")
        }

    }



</script>