<div class="container-home">
    <div class="heading">
        <h1>Welcome {{username}}</h1>
    </div>

    <p class="flag-language-question"> What Languages Would you like to learn?</p>

    <div class="container">
        {{#each languages}}
        <a class="item" href="/home/languageLearn/{{this.name}}">
            <div class="language-information ">
                <div class="image">
                    <img src="{{this.flag}}" alt="">
                </div>
                <div class="name">{{toTitleCase this.name}}</div>
            </div>
        </a>
        {{/each}}
    </div>
    <br>


    <div class="language-selection">
        <p>Language(s) you have selected to learn:</p>
        <ul>
            {{#each languageLearn}}
            <li>{{toTitleCase this}}</li>
            {{/each}}
        </ul>
    </div>


    <div class="link-btns">
        <a href=""></a>
        <a class="link-btn" href="/home/languageFluent">Language Fluent</a>
    </div>


</div>