<div class="visitedUserInformation">
    <div class="visitedUserProfilePicture">
        <img src="../static{{visitedUserData.userInfo.fileLink}}" alt="">
    </div>
    <div class="visitedUserUsername">{{visitedUserData.username}}</div>
</div>

<div class="messages-display">
    {{#each messages}}
    {{#if (isLoggedInUser this.sender ../loggedInUser)}}
    <div class="message-item loggedInUser">
        <div class="message-flex-item">
            <div class="displayMessage loggedInUser">{{this.message}}</div>
        </div>
        <div class="displayMessageTimeStamp">{{this.timestamp}}</div>
    </div>
    {{else}}
    <div class="message-item visitingUser">
        <div class="message-flex-item">
            <div class="displayProfilePicture">
                <img src="../static{{../visitedUserData.userInfo.fileLink}}" alt="">
            </div>
            <div class="displayMessage visitingUser">{{this.message}}</div>
        </div>
        <div class="displayMessageTimeStamp">{{this.timestamp}}</div>
    </div>
    {{/if}}
    {{/each}}
</div>

<div class="sendMessageDisplay">
    <form action="/message/processMessage" method="post">
        <div>
            <input type="text" id="sendMessage" name="message" placeholder="Enter Message Here">
            <button type="submit">
                <svg class="icon">
                    <use xlink:href="/static/vendors/@coreui/icons/svg/free.svg#cil-send"></use>
                </svg>
            </button>
            <a href="/message">
                <svg class="icon">
                    <use xlink:href="/static/vendors/@coreui/icons/svg/free.svg#cil-search"></use>
                </svg>
            </a>
        </div>
        <input type="hidden" name="loggedInUser" value = {{loggedInUser}}>
        <input type="hidden" name="visitedUser" value = {{visitedUserData.username}}>
        <input type="hidden" name="csrf" value={{csrf}}>
    </form>
</div>


<script>
    window.onload = function () {
    const chatContainer = document.querySelector(".messages-display");
    if (chatContainer) {
        chatContainer.scrollTop = chatContainer.scrollHeight;
    }
};
</script>