<div class="container-profile">
    <div class="top">

        <div class="middle">
            <img src="/static{{userFile}}" alt="user profile photo">
        </div>

        <div class="left">
            <div class="leftOne">
                <div class="name-container">
                    <div class="info name">{{firstName}} {{lastName}}</div>
                    {{#if isLoggedInUser}}
                    <a href="/home/info">
                        <svg class="icon" style = "width:30px; height:30px;" >
                            <use xlink:href="/static/vendors/@coreui/icons/svg/free.svg#cil-pen"></use>
                        </svg></span>
                    </a>
                    {{/if}}
                </div>
                <div class="info age"></div>
                <div class="info location">{{toTitleCase nationality}}</div>
            </div>
            <div class="leftTwo">
                <div class="friends">
                    <div class="count">{{numFriends}}</div>
                    <div class="countText">Friend(s)</div>
                </div>
                <div class="languageLearnCount">
                    <div class="count">{{numlanguageLearn}}</div>
                    <div class="countText">Language(s) Learning</div>
                </div>
                <div class="languageFluentCount">
                    <div class="count">{{numLanguageFluent}}</div>
                    <div class="countText">Language(s) Fluent</div>
                </div>
            </div>
        </div>

        <div class="empty"></div>
    </div>
    <div class="bottom">

    </div>

</div>


<div class="container-profile languageContainer">
    <div class="languageLearn">
        <h1>Language(s) Learn</h1>
        <div class="languageItemsContainer">
            {{#each languageLearn}}
            <a class="languageLearnItem">
                <div class="language-information">
                    <div class="image">
                        <img src="{{this.flag}}" alt="">
                    </div>
                    <div class="name">{{toTitleCase this.name}}</div>
                </div>
            </a>
            {{/each}}
        </div>
    </div>

    <div class="languageFluent">
        <h1>Language(s) Fluent</h1>
        <div class="languageItemsContainer">
            {{#each languageFluent}}
            <a class="languageFluentItem">
                <div class="language-information">
                    <div class="image">
                        <img src="{{this.flag}}" alt="">
                    </div>
                    <div class="name">{{toTitleCase this.name}}</div>
                </div>
            </a>
            {{/each}}
        </div>
    </div>

</div>

<div class="container-profile badges">
    <h1>Badges</h1>
    <div class="badges-container">
        {{#each badges}}
        <div class="badges-item">
            <div class="badge-img">
                <img src="../static/images/badge-icons/{{this.activePath}}" alt="">
            </div>
            <div class="badge-info">
                <p class="badge-name">{{this.name}}</p>
                <p class="badge-description">{{this.description}}</p>
                <p class="badge-progress">Progress: <span>{{this.feature}} / {{this.target}}</span></p>
            </div>
            <div class="empty"></div>

        </div>
        {{/each}}
    </div>
</div>